


/* 09:00h */

position: absolute;
left: 52.5%;
right: 31.88%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Black */
color: #0D0D0D;



/* eva:clock-outline */

position: absolute;
left: 45.94%;
right: 48.44%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 29.17%;
bottom: 45.83%;

/* Darker Grey */
background: #1D1D1B;


/* EUR */

position: absolute;
left: 43.75%;
right: 46.88%;
top: 71.33%;
bottom: 24.44%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* Rectangle 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 60%;

background: url(.jpg);
border-radius: 8px 8px 0px 0px;


/* eva:calendar-outline */

position: absolute;
left: 12.5%;
right: 81.88%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 29.17%;
right: 62.5%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Btn Primary */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13.5px 70.5px;

position: absolute;
left: 12.5%;
right: 12.5%;
top: 80.67%;
bottom: 8.22%;

/* Yellow */
background: #FFC80C;
/* Drop Shadow 8px */
box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
border-radius: 6px;


/* Add to cart */

position: static;
left: 29.38%;
right: 29.38%;
top: 27%;
bottom: 27%;

/* p Bold */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125%;
/* identical to box height, or 22px */
text-align: center;

/* Darker Grey */
color: #1D1D1B;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Rectangle 41 */

position: absolute;
left: 81.25%;
right: 6.25%;
top: 35.56%;
bottom: 55.56%;

/* Darker Grey */
background: #1D1D1B;
border-radius: 6px;


/* eva:brush-outline */

position: absolute;
left: 82.5%;
right: 7.5%;
top: 36.44%;
bottom: 56.44%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.78%;
bottom: 16.67%;

/* White */
background: #FFFFFF;


/* Workshop Card_v2 */

position: absolute;
width: 320px;
height: 450px;
left: 1100px;
top: 259px;



/* Rectangle 39 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* White */
background: #FFFFFF;
/* Lighter Grey */
border: 1px solid #F2F2F2;
box-sizing: border-box;
border-radius: 8px;


/* Interaction Design Workshop */

position: absolute;
left: 12.5%;
right: 0%;
top: 50.89%;
bottom: 34%;

/* h4 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 125%;
/* or 34px */

/* Blue */
color: #0097CC;



/* 495,00 */

position: absolute;
left: 12.5%;
right: 57.81%;
top: 68.22%;
bottom: 23.78%;

/* h3 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 125%;
/* or 36px */

/* Darker Grey */
color: #1D1D1B;



/* 27.6.2020. */

position: absolute;
left: 19.06%;
right: 57.19%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* 09:00h */

position: absolute;
left: 52.5%;
right: 31.88%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Black */
color: #0D0D0D;



/* eva:clock-outline */

position: absolute;
left: 45.94%;
right: 48.44%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 29.17%;
bottom: 45.83%;

/* Darker Grey */
background: #1D1D1B;


/* EUR */

position: absolute;
left: 43.75%;
right: 46.88%;
top: 71.33%;
bottom: 24.44%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* Rectangle 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 60%;

background: url(.jpg);
border-radius: 8px 8px 0px 0px;


/* eva:calendar-outline */

position: absolute;
left: 12.5%;
right: 81.88%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 29.17%;
right: 62.5%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Btn Primary */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13.5px 70.5px;

position: absolute;
left: 12.03%;
right: 12.03%;
top: 80.67%;
bottom: 8.22%;

/* Yellow */
background: #FFC80C;
/* Drop Shadow 8px */
box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
border-radius: 6px;


/* Add to Cart */

position: static;
left: 29.01%;
right: 29.01%;
top: 27%;
bottom: 27%;

/* p Bold */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125%;
/* identical to box height, or 22px */
text-align: center;

/* Darker Grey */
color: #1D1D1B;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Rectangle 41 */

position: absolute;
left: 81.25%;
right: 6.25%;
top: 35.56%;
bottom: 55.56%;

/* Darker Grey */
background: #1D1D1B;
border-radius: 6px;


/* eva:brush-outline */

position: absolute;
left: 82.5%;
right: 7.5%;
top: 36.44%;
bottom: 56.44%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.78%;
bottom: 16.67%;

/* White */
background: #FFFFFF;


/* Workshop Card_v2 */

position: absolute;
width: 320px;
height: 450px;
left: 380px;
top: 749px;



/* Rectangle 39 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* White */
background: #FFFFFF;
/* Lighter Grey */
border: 1px solid #F2F2F2;
box-sizing: border-box;
border-radius: 8px;


/* Interaction Design Workshop */

position: absolute;
left: 12.5%;
right: 0%;
top: 50.89%;
bottom: 34%;

/* h4 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 125%;
/* or 34px */

/* Blue */
color: #0097CC;



/* 495,00 */

position: absolute;
left: 12.5%;
right: 57.81%;
top: 68.22%;
bottom: 23.78%;

/* h3 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 125%;
/* or 36px */

/* Darker Grey */
color: #1D1D1B;



/* 27.6.2020. */

position: absolute;
left: 19.06%;
right: 57.19%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* 09:00h */

position: absolute;
left: 52.5%;
right: 31.88%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Black */
color: #0D0D0D;



/* eva:clock-outline */

position: absolute;
left: 45.94%;
right: 48.44%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 29.17%;
bottom: 45.83%;

/* Darker Grey */
background: #1D1D1B;


/* EUR */

position: absolute;
left: 43.75%;
right: 46.88%;
top: 71.33%;
bottom: 24.44%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* Rectangle 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 60%;

background: url(.jpg);
border-radius: 8px 8px 0px 0px;


/* eva:calendar-outline */

position: absolute;
left: 12.5%;
right: 81.88%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 29.17%;
right: 62.5%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Btn Primary */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13.5px 70.5px;

position: absolute;
left: 12.03%;
right: 12.03%;
top: 80.67%;
bottom: 8.22%;

/* Yellow */
background: #FFC80C;
/* Drop Shadow 8px */
box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
border-radius: 6px;


/* Add to Cart */

position: static;
left: 29.01%;
right: 29.01%;
top: 27%;
bottom: 27%;

/* p Bold */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125%;
/* identical to box height, or 22px */
text-align: center;

/* Darker Grey */
color: #1D1D1B;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Rectangle 41 */

position: absolute;
left: 81.25%;
right: 6.25%;
top: 35.56%;
bottom: 55.56%;

/* Darker Grey */
background: #1D1D1B;
border-radius: 6px;


/* eva:brush-outline */

position: absolute;
left: 82.5%;
right: 7.5%;
top: 36.44%;
bottom: 56.44%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.78%;
bottom: 16.67%;

/* White */
background: #FFFFFF;


/* Workshop Card_v2 */

position: absolute;
width: 320px;
height: 450px;
left: 740px;
top: 749px;



/* Rectangle 39 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* White */
background: #FFFFFF;
/* Lighter Grey */
border: 1px solid #F2F2F2;
box-sizing: border-box;
border-radius: 8px;


/* Interaction Design Workshop */

position: absolute;
left: 12.5%;
right: 0%;
top: 50.89%;
bottom: 34%;

/* h4 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 125%;
/* or 34px */

/* Blue */
color: #0097CC;



/* 495,00 */

position: absolute;
left: 12.5%;
right: 57.81%;
top: 68.22%;
bottom: 23.78%;

/* h3 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 125%;
/* or 36px */

/* Darker Grey */
color: #1D1D1B;



/* 27.6.2020. */

position: absolute;
left: 19.06%;
right: 57.19%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* 09:00h */

position: absolute;
left: 52.5%;
right: 31.88%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Black */
color: #0D0D0D;



/* eva:clock-outline */

position: absolute;
left: 45.94%;
right: 48.44%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 29.17%;
bottom: 45.83%;

/* Darker Grey */
background: #1D1D1B;


/* EUR */

position: absolute;
left: 43.75%;
right: 46.88%;
top: 71.33%;
bottom: 24.44%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* Rectangle 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 60%;

background: url(.jpg);
border-radius: 8px 8px 0px 0px;


/* eva:calendar-outline */

position: absolute;
left: 12.5%;
right: 81.88%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 29.17%;
right: 62.5%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Btn Primary */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13.5px 70.5px;

position: absolute;
left: 12.03%;
right: 12.03%;
top: 80.67%;
bottom: 8.22%;

/* Yellow */
background: #FFC80C;
/* Drop Shadow 8px */
box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
border-radius: 6px;


/* Add to Cart */

position: static;
left: 29.01%;
right: 29.01%;
top: 27%;
bottom: 27%;

/* p Bold */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125%;
/* identical to box height, or 22px */
text-align: center;

/* Darker Grey */
color: #1D1D1B;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Rectangle 41 */

position: absolute;
left: 81.25%;
right: 6.25%;
top: 35.56%;
bottom: 55.56%;

/* Darker Grey */
background: #1D1D1B;
border-radius: 6px;


/* eva:brush-outline */

position: absolute;
left: 82.5%;
right: 7.5%;
top: 36.44%;
bottom: 56.44%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.78%;
bottom: 16.67%;

/* White */
background: #FFFFFF;


/* Workshop Card_v2 */

position: absolute;
width: 320px;
height: 450px;
left: 1100px;
top: 749px;



/* Rectangle 39 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* White */
background: #FFFFFF;
/* Lighter Grey */
border: 1px solid #F2F2F2;
box-sizing: border-box;
border-radius: 8px;


/* Interaction Design Workshop */

position: absolute;
left: 12.5%;
right: 0%;
top: 50.89%;
bottom: 34%;

/* h4 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 125%;
/* or 34px */

/* Blue */
color: #0097CC;



/* 495,00 */

position: absolute;
left: 12.5%;
right: 57.81%;
top: 68.22%;
bottom: 23.78%;

/* h3 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 125%;
/* or 36px */

/* Darker Grey */
color: #1D1D1B;



/* 27.6.2020. */

position: absolute;
left: 19.06%;
right: 57.19%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* 09:00h */

position: absolute;
left: 52.5%;
right: 31.88%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Black */
color: #0D0D0D;



/* eva:clock-outline */

position: absolute;
left: 45.94%;
right: 48.44%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 29.17%;
bottom: 45.83%;

/* Darker Grey */
background: #1D1D1B;


/* EUR */

position: absolute;
left: 43.75%;
right: 46.88%;
top: 71.33%;
bottom: 24.44%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* Rectangle 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 60%;

background: url(.jpg);
border-radius: 8px 8px 0px 0px;


/* eva:calendar-outline */

position: absolute;
left: 12.5%;
right: 81.88%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 29.17%;
right: 62.5%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Btn Primary */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13.5px 70.5px;

position: absolute;
left: 12.03%;
right: 12.03%;
top: 80.67%;
bottom: 8.22%;

/* Yellow */
background: #FFC80C;
/* Drop Shadow 8px */
box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
border-radius: 6px;


/* Add to Cart */

position: static;
left: 29.01%;
right: 29.01%;
top: 27%;
bottom: 27%;

/* p Bold */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125%;
/* identical to box height, or 22px */
text-align: center;

/* Darker Grey */
color: #1D1D1B;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Rectangle 41 */

position: absolute;
left: 81.25%;
right: 6.25%;
top: 35.56%;
bottom: 55.56%;

/* Darker Grey */
background: #1D1D1B;
border-radius: 6px;


/* eva:brush-outline */

position: absolute;
left: 82.5%;
right: 7.5%;
top: 36.44%;
bottom: 56.44%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.78%;
bottom: 16.67%;

/* White */
background: #FFFFFF;


/* Workshop Card_v2 */

position: absolute;
width: 320px;
height: 450px;
left: 380px;
top: 1239px;



/* Rectangle 39 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* White */
background: #FFFFFF;
/* Lighter Grey */
border: 1px solid #F2F2F2;
box-sizing: border-box;
border-radius: 8px;


/* Interaction Design Workshop */

position: absolute;
left: 12.5%;
right: 0%;
top: 50.89%;
bottom: 34%;

/* h4 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 125%;
/* or 34px */

/* Blue */
color: #0097CC;



/* 495,00 */

position: absolute;
left: 12.5%;
right: 57.81%;
top: 68.22%;
bottom: 23.78%;

/* h3 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 125%;
/* or 36px */

/* Darker Grey */
color: #1D1D1B;



/* 27.6.2020. */

position: absolute;
left: 19.06%;
right: 57.19%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* 09:00h */

position: absolute;
left: 52.5%;
right: 31.88%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Black */
color: #0D0D0D;



/* eva:clock-outline */

position: absolute;
left: 45.94%;
right: 48.44%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 29.17%;
bottom: 45.83%;

/* Darker Grey */
background: #1D1D1B;


/* EUR */

position: absolute;
left: 43.75%;
right: 46.88%;
top: 71.33%;
bottom: 24.44%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* Rectangle 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 60%;

background: url(.jpg);
border-radius: 8px 8px 0px 0px;


/* eva:calendar-outline */

position: absolute;
left: 12.5%;
right: 81.88%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 29.17%;
right: 62.5%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Btn Primary */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13.5px 70.5px;

position: absolute;
left: 12.03%;
right: 12.03%;
top: 80.67%;
bottom: 8.22%;

/* Yellow */
background: #FFC80C;
/* Drop Shadow 8px */
box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
border-radius: 6px;


/* Add to Cart */

position: static;
left: 29.01%;
right: 29.01%;
top: 27%;
bottom: 27%;

/* p Bold */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125%;
/* identical to box height, or 22px */
text-align: center;

/* Darker Grey */
color: #1D1D1B;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Rectangle 41 */

position: absolute;
left: 81.25%;
right: 6.25%;
top: 35.56%;
bottom: 55.56%;

/* Darker Grey */
background: #1D1D1B;
border-radius: 6px;


/* eva:brush-outline */

position: absolute;
left: 82.5%;
right: 7.5%;
top: 36.44%;
bottom: 56.44%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.78%;
bottom: 16.67%;

/* White */
background: #FFFFFF;


/* Workshop Card_v2 */

position: absolute;
width: 320px;
height: 450px;
left: 740px;
top: 1239px;



/* Rectangle 39 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* White */
background: #FFFFFF;
/* Lighter Grey */
border: 1px solid #F2F2F2;
box-sizing: border-box;
border-radius: 8px;


/* Interaction Design Workshop */

position: absolute;
left: 12.5%;
right: 0%;
top: 50.89%;
bottom: 34%;

/* h4 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 125%;
/* or 34px */

/* Blue */
color: #0097CC;



/* 495,00 */

position: absolute;
left: 12.5%;
right: 57.81%;
top: 68.22%;
bottom: 23.78%;

/* h3 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 125%;
/* or 36px */

/* Darker Grey */
color: #1D1D1B;



/* 27.6.2020. */

position: absolute;
left: 19.06%;
right: 57.19%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* 09:00h */

position: absolute;
left: 52.5%;
right: 31.88%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Black */
color: #0D0D0D;



/* eva:clock-outline */

position: absolute;
left: 45.94%;
right: 48.44%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 29.17%;
bottom: 45.83%;

/* Darker Grey */
background: #1D1D1B;


/* EUR */

position: absolute;
left: 43.75%;
right: 46.88%;
top: 71.33%;
bottom: 24.44%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* Rectangle 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 60%;

background: url(.jpg);
border-radius: 8px 8px 0px 0px;


/* eva:calendar-outline */

position: absolute;
left: 12.5%;
right: 81.88%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 29.17%;
right: 62.5%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Btn Primary */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13.5px 70.5px;

position: absolute;
left: 12.03%;
right: 12.03%;
top: 80.67%;
bottom: 8.22%;

/* Yellow */
background: #FFC80C;
/* Drop Shadow 8px */
box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
border-radius: 6px;


/* Add to Cart */

position: static;
left: 29.01%;
right: 29.01%;
top: 27%;
bottom: 27%;

/* p Bold */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125%;
/* identical to box height, or 22px */
text-align: center;

/* Darker Grey */
color: #1D1D1B;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Rectangle 41 */

position: absolute;
left: 81.25%;
right: 6.25%;
top: 35.56%;
bottom: 55.56%;

/* Darker Grey */
background: #1D1D1B;
border-radius: 6px;


/* eva:brush-outline */

position: absolute;
left: 82.5%;
right: 7.5%;
top: 36.44%;
bottom: 56.44%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.78%;
bottom: 16.67%;

/* White */
background: #FFFFFF;


/* Workshop Card_v2 */

position: absolute;
width: 320px;
height: 450px;
left: 1100px;
top: 1239px;



/* Rectangle 39 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* White */
background: #FFFFFF;
/* Lighter Grey */
border: 1px solid #F2F2F2;
box-sizing: border-box;
border-radius: 8px;


/* Interaction Design Workshop */

position: absolute;
left: 12.5%;
right: 0%;
top: 50.89%;
bottom: 34%;

/* h4 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 125%;
/* or 34px */

/* Blue */
color: #0097CC;



/* 495,00 */

position: absolute;
left: 12.5%;
right: 57.81%;
top: 68.22%;
bottom: 23.78%;

/* h3 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 125%;
/* or 36px */

/* Darker Grey */
color: #1D1D1B;



/* 27.6.2020. */

position: absolute;
left: 19.06%;
right: 57.19%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* 09:00h */

position: absolute;
left: 52.5%;
right: 31.88%;
top: 44.44%;
bottom: 51.33%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Black */
color: #0D0D0D;



/* eva:clock-outline */

position: absolute;
left: 45.94%;
right: 48.44%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 29.17%;
bottom: 45.83%;

/* Darker Grey */
background: #1D1D1B;


/* EUR */

position: absolute;
left: 43.75%;
right: 46.88%;
top: 71.33%;
bottom: 24.44%;

/* h6 */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Darker Grey */
color: #1D1D1B;



/* Rectangle 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 60%;

background: url(.jpg);
border-radius: 8px 8px 0px 0px;


/* eva:calendar-outline */

position: absolute;
left: 12.5%;
right: 81.88%;
top: 44.44%;
bottom: 51.56%;



/* Group */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 29.17%;
right: 62.5%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Vector */

position: absolute;
left: 45.83%;
right: 29.17%;
top: 62.5%;
bottom: 29.17%;

/* Darker Grey */
background: #1D1D1B;


/* Btn Primary */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13.5px 70.5px;

position: absolute;
left: 12.03%;
right: 12.03%;
top: 80.67%;
bottom: 8.22%;

/* Yellow */
background: #FFC80C;
/* Drop Shadow 8px */
box-shadow: 1px 2px 8px rgba(127, 127, 127, 0.25);
border-radius: 6px;


/* Add to Cart */

position: static;
left: 29.01%;
right: 29.01%;
top: 27%;
bottom: 27%;

/* p Bold */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125%;
/* identical to box height, or 22px */
text-align: center;

/* Darker Grey */
color: #1D1D1B;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Rectangle 41 */

position: absolute;
left: 81.25%;
right: 6.25%;
top: 35.56%;
bottom: 55.56%;

/* Darker Grey */
background: #1D1D1B;
border-radius: 6px;


/* eva:brush-outline */

position: absolute;
left: 82.5%;
right: 7.5%;
top: 36.44%;
bottom: 56.44%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.78%;
bottom: 16.67%;

/* White */
background: #FFFFFF;


/* Footer */

position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 1812px;



/* Rectangle 38 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Light Grey */
background: #7F7F7F;
opacity: 0.1;


/* © TINEL Meetup 2020. */

position: absolute;
left: 5.56%;
right: 83.54%;
top: 37.5%;
bottom: 38.75%;

/* h6 SemiBold */
font-family: Livvic;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 125%;
/* identical to box height, or 19px */

/* Light Grey */
color: #7F7F7F;



/* Load More */

position: absolute;
left: 76.39%;
right: 17.22%;
top: 91.38%;
bottom: 7.4%;

/* p Bold */
font-family: Livvic;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 125%;
/* identical to box height, or 22px */
text-align: center;

/* Darker Grey */
color: #1D1D1B;



/* Line 4 */

position: absolute;
width: 92px;
height: 0px;
left: 1100px;
top: 1757px;

/* Blue */
border: 2px solid #0097CC;
